<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="belfer.NET.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <belfer.NET.My.MySettings>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerIP" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="DBName" serializeAs="String">
                <value>belfer</value>
            </setting>
            <setting name="SysUser" serializeAs="String">
                <value>user</value>
            </setting>
            <setting name="SysPassword" serializeAs="String">
                <value>qfolam1kFmy9ZiX8CUH59Q==</value>
            </setting>
            <setting name="IdSchoolType" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="IdSchool" serializeAs="String">
                <value />
            </setting>
            <setting name="ClassName" serializeAs="String">
                <value />
            </setting>
            <setting name="ObjectName" serializeAs="String">
                <value />
            </setting>
            <setting name="SchoolYear" serializeAs="String">
                <value>2015/2016</value>
            </setting>
            <setting name="IdObsada" serializeAs="String">
                <value />
            </setting>
            <setting name="IdBelfer" serializeAs="String">
                <value />
            </setting>
            <setting name="LastMiejsceUr" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastMiejsceZam" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="XCaliber" serializeAs="String">
                <value>-3.937</value>
            </setting>
            <setting name="YCaliber" serializeAs="String">
                <value>-7.9</value>
            </setting>
            <setting name="PrintContent" serializeAs="String">
                <value>chkFullName</value>
            </setting>
            <setting name="SSLMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SysSSLUser" serializeAs="String">
                <value>userssl</value>
            </setting>
            <setting name="ServerSSLIP" serializeAs="String">
                <value />
            </setting>
            <setting name="SysSSLPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="LeftMargin" serializeAs="String">
                <value>39</value>
            </setting>
            <setting name="TopMargin" serializeAs="String">
                <value>39</value>
            </setting>
            <setting name="TextFont" serializeAs="String">
                <value>Times New Roman, 9.75pt</value>
            </setting>
            <setting name="HeaderFont" serializeAs="String">
                <value>Arial, 12pt, style=Bold</value>
            </setting>
            <setting name="Landscape" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SubHeaderFont" serializeAs="String">
                <value>Arial, 9.75pt, style=Bold</value>
            </setting>
        </belfer.NET.My.MySettings>
    </userSettings>
</configuration>
