<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BelferCS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BelferCS.Properties.Settings>
            <setting name="SchoolYear" serializeAs="String">
                <value>2016/2017</value>
            </setting>
            <setting name="IdSchool" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="IdSchoolType" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="XCaliber" serializeAs="String">
                <value>-3.937</value>
            </setting>
            <setting name="YCaliber" serializeAs="String">
                <value>-7.9</value>
            </setting>
            <setting name="LeftMargin" serializeAs="String">
                <value>39</value>
            </setting>
            <setting name="TopMargin" serializeAs="String">
                <value>39</value>
            </setting>
            <setting name="TextFont" serializeAs="String">
                <value>Times New Roman, 9.75pt</value>
            </setting>
            <setting name="HeaderFont" serializeAs="String">
                <value>Arial, 12pt, style=Bold</value>
            </setting>
            <setting name="SubHeaderFont" serializeAs="String">
                <value>Arial, 11.25pt, style=Bold</value>
            </setting>
            <setting name="Landscape" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SchoolName" serializeAs="String">
                <value>Gimnazjum w Suszu</value>
            </setting>
        </BelferCS.Properties.Settings>
    </userSettings>
</configuration>